# Ignore all Excel files starting with 'final_candidates_with_notes_' in the root directory
final_candidates_with_notes_*.xlsx

# Ignore everything in the 'ExportData' directory
ExportData/*

# Except for the .gitkeep file
!ExportData/.gitkeep